<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form  (submit)="OnLogin(LoginForm)" #LoginForm = "ngForm" *ngIf="!isLoading">
    <mat-form-field class="example-full-width" appearance="fill">

      <input type="email"  matInput name="email" ngModel #emailInput = "ngModel" placeholder="E-mail" required email>
      <mat-error *ngIf="emailInput.invalid">Please Enter a valid Email</mat-error>

    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">

      <input matInput type="password" name="password" ngModel #passwordInput = "ngModel" placeholder="Password" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a Valid Password.</mat-error>

    </mat-form-field>

    <button mat-button color="primary" style="width: 100%;" type="submit">Login</button>
  </form>
</mat-card>
